<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReserveMapper">

	<insert id="insert">
		INSERT INTO reservation (place_num, user_num,rsv_name,
		rsv_year, rsv_month,
		rsv_date, rsv_start_t, rsv_end_t, rsv_purpose,
		rsv_request, rsv_refund_yn, rsv_refund_reason, inv_bf_tax, inv_bf_tax_mthd,
		pay_year,
		pay_month, pay_date, pay_num, pay_coup_yn, pay_coup_num)
		VALUES(#{placeNum}, ${rsvId},${rsvName},${rsvYear}, ${rsvMonth},
		${rsvDate}, ${rsvStartT}, ${rsvEndT}, ${rsvPurpose}, ${rsvRequest},
		${rsvRefundYN}, ${rsvRefundReason}, ${rsvPay}, ${payYear},
		${payMonth}, ${payDate}, ${payMethod}, ${payNum}, ${payCoupYN},
		${payCoupNum} );

	</insert>


<!-- 예약 객체 매핑. -->


	<resultMap type="reserveVO" id="getreserveList">
		<result property="placeNum" column="place_num" />
		<result property="placeDetailNum" column="place_detail_num" />
		<result property="rsvName" column="rsv_name" />
		<result property="rsvId" column="user_num" />
		<result property="rsvYear" column="rsv_year" />
		<result property="rsvMonth" column="rsv_month" />
		<result property="rsvDate" column="rsv_date" />
		<result property="rsvStartT" column="rsv_start_t" />
		<result property="rsvEndT" column="rsv_end_t" />
		<result property="rsvPurpose" column="rsv_purpose" />
		<result property="rsvRequest" column="rsv_request" />
		<result property="rsvRefundYN" column="rsv_refund_yn" />
		<result property="invBfTax" column="inv_bf_tax"/>
		<result property="payNum" column="pay_num" />
		<result property="payCoupNum" column="pay_coup_num" />
		<result property="rsvName" column="rsv_name" />
		<result property="rsvEmail" column="rsv_email" />
		<result property="rsvTel" column="rsv_tel" />
		<result property="headCount" column="head_count" />
	</resultMap>
	<!-- 결제 객체 매핑. -->
	<resultMap type="paymentVO" id="getPaymentList">
		<id property="orderNum" column="order_num" />
		<result property="placeNum" column="place_num" />
		<result property="payCoupNum" column="pay_coup_num" />
		<result property="rsvName" column="rsv_name" />
		<result property="placeMaincate" column="place_maincate" />
		<result property="placeCate" column="place_cate" />
		<result property="rsvRefundReason" column="rsv_refund_reason" />
		<result property="rsvPay" column="inv_bf_tax" />
		<result property="rsvPayMthd" column="inv_bf_tax_mthd" />
		<result property="payYear" column="pay_year" />
		<result property="payMonth" column="pay_month" />
		<result property="payDate" column="pay_date" />
		<result property="invCost" column="inv_cost" />
		<result property="invBfTax" column="inv_bf_tax"/>
		<result property="invTax" column="int_tax" />
		<result property="invAftTax" column="inv_aft_tax" />
		<result property="userNum" column="user_num" />
	</resultMap>

	<resultMap type="detailPlaceVO" id="detailInfo">
		<result property="placeNum" column="place_num" />
		<result property="detailNum" column="detail_num" />
		<result property="detailTitle" column="detail_title" />
		<result property="defaultCapa" column="default_capa" />
		<result property="surcharge" column="surcharge" />
		<result property="placePrice" column="place_price" />
	</resultMap>

	<resultMap type="placeInfo" id="placeResult">
		<id property="placeNum" column="place_num" />
		<result property="userId" column="user_id" />
		<result property="userNickName" column="user_nick_name" />
		<result property="placeArea" column="place_area" />
		<result property="placeAddr" column="place_addr" />
		<result property="placeTag" column="place_tag" />
		<result property="placeMaincate" column="place_maincate" />
		<result property="placeCate" column="place_cate" />
		<result property="placeName" column="place_name" />
		<result property="placeIntro" column="place_intro" />
		<result property="placeDa" column="place_da" />
		<result property="placeFloor" column="place_floor" />
		<result property="placeRule" column="place_rule" />
		<result property="placeSurinfo" column="place_surinfo" />
		<result property="placePrice" column="place_price" />
		<result property="placeMinTime" column="place_min_time" />
		<result property="placeCapa" column="place_capa" />
		<result property="placeCapaCar" column="place_capa_car" />
		<result property="placeExtrachrg" column="place_extrachrg" />
		<result property="placeThumb" column="place_thumb" />
		<result property="placeAllow" column="place_allow" />
		<result property="placeRegDate" column="place_reg_date" />
		<result property="avgRate" column="avg_rate" />
		<result property="reviewCnt" column="review_cnt" />
	</resultMap>
	<resultMap type="placeImgInfo" id="placeImgResult">
		<id property="imgNum" column="img_num" />
		<id property="placeNum" column="place_num" />
		<result property="originalFileName" column="original_file_name" />
		<result property="s3FileName" column="s3_file_name" />
		<result property="imgRegDate" column="img_reg_date" />
	</resultMap>
	
	<!-- 쿠폰 객체 변수, 컬럼명 매핑. -->
	<resultMap type="couponVO" id="mycoupon">
		<id property="coupNum" column="coup_num" />
		<id property="userCoupId" column="user_coup_id" />
		<result property="userCoupUseYn" column="user_coup_user_yn" />
		<result property="coupStartD" column="coup_start_d" />
		<result property="coupEndD" column="coup_end_d" />
		<result property="coupName" column="coup_name" />
		<result property="coupDisRate" column="coup_dis_rate" />
	</resultMap>

	<select id="getAll" resultMap="getreserveList">
		SELECT * FROM reservation
	</select>


	<resultMap type="reserveVO" id="getreservedTime">
		<result property="rsvStartT" column="rsv_start_t" />
		<result property="rsvEndT" column="rsv_end_t" />
	</resultMap>


	<select id="getreservedTime" resultMap="getreservedTime">
		<trim suffixOverrides=",">
			SELECT rsv_start_t,
			rsv_end_t FROM reservation
		</trim>
	</select>

	<resultMap type="MyPageReserveVO" id="getmyreserveList">
		<result property="placeNum" column="place_num" />
		<result property="userNum" column="user_num" />
		<result property="rsvNum" column="rsv_num" />
		<result property="rsvYear" column="rsv_year" />
		<result property="rsvMonth" column="rsv_month" />
		<result property="rsvDate" column="rsv_date" />
		<result property="rsvStartT" column="rsv_start_t" />
		<result property="rsvEndT" column="rsv_end_t" />
		<result property="rsvRefundYn" column="rsv_refund_yn" />
		<result property="invBfTax" column="inv_bf_tax" />
		<result property="userId" column="user_id" />
		<result property="placeArea" column="place_area" />
		<result property="placeName" column="place_name" />
		<result property="placeThumb" column="place_thumb" />
		<result property="rsvReviewYn" column="rsv_review_yn" />
	</resultMap>
	<update id="updateReserve" parameterType="MyPageReserveVO">
		UPDATE payment SET rsv_refund_yn = 1 WHERE rsv_num=#{rsvNum}
	</update>
	<update id="updatereviewYn" parameterType="MyPagereserveVO">
		UPDATE reservation SET rsv_review_yn = 'Y' WHERE rsv_num=#{rsvNum}
	</update>
	
	<select id="getMyReserveList" resultMap="getmyreserveList">
		SELECT DISTINCT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb	
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum} AND a.rsv_refund_yn = 0 
        AND (r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb)
		NOT IN(SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
		AND DATE_FORMAT(CURDATE(), '%m') >= r.rsv_month AND DATE_FORMAT(CURDATE(), '%d') > r.rsv_date)
		OR r.user_num = #{userNum} AND a.rsv_refund_yn = 1
		AND (r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb)
		NOT IN(SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
		AND DATE_FORMAT(CURDATE(), '%m') >= r.rsv_month AND DATE_FORMAT(CURDATE(), '%d') > r.rsv_date)
        ORDER BY r.rsv_month ASC, r.rsv_date ASC;	
	</select>
	<select id="getMyReserveListAll" resultMap="getmyreserveList">
		SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
		ORDER BY r.rsv_month ASC, r.rsv_date ASC;
	</select>
	<select id="getMyReserveListEnd" resultMap="getmyreserveList">
		SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
		AND DATE_FORMAT(CURDATE(), '%m') >= r.rsv_month 
		AND DATE_FORMAT(CURDATE(), '%d') > r.rsv_date
		ORDER BY r.rsv_month ASC, r.rsv_date ASC;
	</select>
	<select id="getMyReserveListCancel" resultMap="getmyreserveList">
		SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum} AND a.rsv_refund_yn = 2
        OR r.user_num = #{userNum} AND a.rsv_refund_yn = 3
		ORDER BY r.rsv_month ASC, r.rsv_date ASC;
	</select>
	<!-- JJ 작성부. -->
	<select id="getRsvList" resultMap="getmyreserveList">
		SELECT * FROM reservation where
			rsv_year=#{rsvYear} and rsv_month=#{rsvMonth} and rsv_date=#{rsvDate}
		and place_num=#{placeNum} and place_detail_num=#{detailNum}
		order by rsv_start_t asc;
	</select>
	<select id="getDetail" resultMap="detailInfo">
		SELECT a.*, b.place_price 
		FROM place_detail a, place b 
		where a.place_num = #{placeNum} and a.detail_num=#{detailNum} and b.place_num=#{placeNum};
	</select>
	<select id="getPlaceInfo" resultMap="placeResult">
		select
			a.*,
			(select count(*) from reviewGuest where place_num=a.place_num) as review_cnt,
			(select round(avg(review_guest_rate),1) from reviewGuest where
			place_num = a.place_num) as avg_rate,
			(select user_nick_name from member where user_id=a.user_id) as user_nick_name
		from place a
		where place_num=#{placeNum}
		order by place_reg_date desc ;
	</select>
	<select id="getImgList" resultMap="placeImgResult">
		SELECT * FROM place_img WHERE place_num=#{placeNum}
	</select>
	<select id="getDetailInfoList" resultMap="detailInfo">
		SELECT * FROM place_detail WHERE place_num = #{placeNum}

	</select>
	
	<select id="getMyCouponList" resultMap="mycoupon" parameterType="String">
		select distinct a.*,
				(select coup_name from coupon_all where coup_num = a.coup_num) as coup_name,
        		(select coup_dis_rate from coupon_all where coup_num = a.coup_num) as coup_dis_rate
        from coupon_user a
        	where user_coup_id = #{userCoupId}
			and 
			<![CDATA[
				current_timestamp >= a.coup_start_d
			and
				current_timestamp <= a.coup_end_d
            and 
            ]]>
            a.user_coup_use_yn = 'n';
	</select>
	<insert id="insertReservation">
		INSERT INTO reservation (place_num, rsv_num, user_num, rsv_year, rsv_month, rsv_date, rsv_start_t, rsv_end_t, rsv_purpose, rsv_request,
			inv_bf_tax, pay_num,rsv_name, rsv_email, rsv_tel,place_detail_num , head_count,pay_coup_num)
        VALUES(
			#{placeNum},#{rsvNum},#{userNum},#{rsvYear},#{rsvMonth},#{rsvDate},#{rsvStartT},#{rsvEndT},#{rsvPurpose},
			#{rsvRequest},#{invBfTax},#{payNum},#{rsvName},#{rsvEmail},#{rsvTel},#{placeDetailNum},#{headCount},#{payCoupNum}
        	);
	</insert>
	<update id="updateCouponStatus">
		UPDATE coupon_user SET user_coup_use_yn = 'Y' where coup_num=#{coupNum} and user_coup_id=#{userCoupId}
	</update>
	<insert id="insertPayment">
		INSERT INTO payment(
			rsv_num, pay_num, place_maincate, place_cate,
			pay_year, pay_month, pay_date, inv_cost,
			coup_dis_rate, inv_bf_tax, inv_tax, inv_aft_tax,
			user_num, pay_coup_num, order_num
			)
		VALUES(
			#{rsvNum}, #{payNum} , #{placeMaincate} , #{placeCate} , 
			#{payYear} , #{payMonth} , #{payDate} , #{invCost} ,
			#{coupDisRate} , #{invBfTax} , #{invTax} , #{invAftTax} , 
			#{userNum} , #{payCoupNum} , #{orderNum}
			);
	</insert>
	
	
<!-- 검색 -->
	<select id="getkeywordList" resultMap="getmyreserveList">
		SELECT DISTINCT
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb	
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum} AND a.rsv_refund_yn = 0 AND p.place_name LIKE CONCAT('%',#{searchKeyword},'%')
        AND (r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb)		
		NOT IN(SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
		AND DATE_FORMAT(CURDATE(), '%m') >= r.rsv_month AND DATE_FORMAT(CURDATE(), '%d') > r.rsv_date)		
		OR r.user_num = #{userNum} AND a.rsv_refund_yn = 1 AND p.place_name LIKE CONCAT('%',#{searchKeyword},'%')
        AND (r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb)		
		NOT IN(SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
		AND DATE_FORMAT(CURDATE(), '%m') >= r.rsv_month AND DATE_FORMAT(CURDATE(), '%d') > r.rsv_date)
        ORDER BY r.rsv_month ASC, r.rsv_date ASC;	
	</select>
	<select id="getkeywordListAll" resultMap="getmyreserveList">
		SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
        AND p.place_name LIKE CONCAT('%',#{searchKeyword},'%')
		ORDER BY r.rsv_month ASC, r.rsv_date ASC;
	</select>
	<select id="getkeywordListEnd" resultMap="getmyreserveList">
		SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE reservation.user_num = #{userNum}
		AND DATE_FORMAT(CURDATE(), '%m') >= r.rsv_month AND DATE_FORMAT(CURDATE(), '%d') > r.rsv_date
		AND p.place_name LIKE CONCAT('%',#{searchKeyword},'%')
		ORDER BY r.rsv_month ASC, r.rsv_date ASC;
	</select>
	<select id="getkeywordListCancel" resultMap="getmyreserveList">
		SELECT 
			r.place_num,r.user_num,r.rsv_num,r.rsv_year,r.rsv_month,r.rsv_date,
			r.rsv_start_t,r.rsv_end_t,a.rsv_refund_yn,r.inv_bf_tax,r.rsv_review_yn,
			p.user_id,p.place_area,p.place_name,p.place_thumb
		FROM reservation r join place p using(place_num) join payment a using(rsv_num) 
        WHERE r.user_num = #{userNum}
		AND a.rsv_refund_yn = 2 AND p.place_name LIKE CONCAT('%',#{searchKeyword},'%')
		ORDER BY r.rsv_month ASC, r.rsv_date ASC
		OR a.rsv_refund_yn = 3 AND p.place_name LIKE CONCAT('%',#{searchKeyword},'%')
		ORDER BY r.rsv_month ASC, r.rsv_date ASC
		
	</select>
</mapper>