<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HostReviewMapper">


<resultMap type="HostReviewVO" id="getAllReview">
		<result property="reservNum" column="rsv_num" />
		<result property="placeNum" column="place_num" />
		<result property="memId" column="user_id" />
		<result property="star" column="review_guest_rate" />
		<result property="regDate" column="review_guest_regd" />
		<result property="review" column="review_guest_wr" />
		<result property="reserveId" column="rsv_id"/>
		
	</resultMap>

	
	<select id="getAllReview" resultMap="getAllReview">
	SELECT * FROM reviewGuest INNER JOIN place ON reviewGuest.place_num = place.place_num inner join member on place.user_id= member.user_id where member.user_id =#{memId};
	</select>
	
	
	<insert id="insertReview">
	insert Ignore into reviewHost(rsv_num, place_num, user_id, review_guest_rate, review_guest_wr, rsv_id)
	values(#{reservNum},#{placeNum}, #{memId}, #{star}, #{review}, #{reserveId});
	</insert>
	
	



</mapper>