<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HostReservMapper">


<resultMap type="HostReservVO" id="getAllReserve">
	<result property="placeName" column="place_Name" />
	<result property="reserveNum" column="rsv_num" />
	<result property="reserveName" column="rsv_name" />
		<result property="reserveId" column="a" />
	<result property="reserveTel" column="rsv_tel" />
	<result property="placeNum" column="place_num" />
	<result property="startTime" column="rsv_start_t" />
	<result property="endTime" column="rsv_end_t" />
	<result property="personNum" column="head_count" />
	<result property="payPrice" column="inv_bf_tax" />
	<result property="reserveYear" column="rsv_year" />
	<result property="reserveMonth" column="rsv_month" />
	<result property="reserveDate" column="rsv_date" />
	<result property="userId" column="user_id" />
	<result property="userNum" column="user_num" />
	<result property="reservePurpose" column="rsv_purpose" />
	<result property="reserveRequest" column="rsv_request" />
	<result property="reserveReviewYN" column="rsv_review_yn" />
	<result property="couponNum" column="pay_coup_num" />
	<result property="placeDetailNum" column="place_detail_num" />
</resultMap>

	
	<select id="getAllReserve" resultMap="getAllReserve">
 select reservation.*, place.place_num, place.user_id, place.place_name, member.user_num, member.user_id as a from reservation
 inner join place on place.place_num = reservation.place_num
 inner join member on reservation.user_num = member.user_num
 where place.user_id=#{userId}
	</select>

	
	<select id="getLast" resultMap="getAllReserve">
 select reservation.*, place.place_num, place.user_id, place.place_name, member.user_num, member.user_id as a from reservation
 inner join place on place.place_num = reservation.place_num
 inner join member on reservation.user_num = member.user_num
 where place.user_id=#{userId} and rsv_review_yn='N'
	</select>



</mapper>