<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HostManagementRoomMapper">


<resultMap type="HostManagementRoomVO" id="getAllHostRoom">
		<result property="placeNum" column="place_num" />
		<result property="detailNum" column="detail_num" />
		<result property="detailTitle" column="detail_title" />
		<result property="detailPersonNum" column="default_capa" />
		<result property="surcharge" column="surcharge" />
				<result property="userId" column="user_id" />
	</resultMap>

	
	<select id="getAllHostRoom" resultMap="getAllHostRoom">
	SELECT * FROM place_detail INNER JOIN place ON place_detail.place_num = place.place_num inner join member on place.user_id= member.user_id where member.user_id = #{userId}

	</select>
	
	<delete id="deleteRoom">

	</delete>
	
	<insert id="insertRoom">

	INSERT INTO place_detail(place_num, detail_num, detail_title, default_capa, surcharge) VALUES(#{placeNum}, #{detailNum}, #{detailTitle},#{detailPersonNum}, #{surcharge})

	</insert>
</mapper>