<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HostAskMapper">


<resultMap type="AskVO" id="ask">
<result property="primaryKey" column="reprt_seq"/>
		<result property="reserveNum" column="rsv_num" />
		<result property="userId" column="user_id" />
			<result property="content" column="reprt_content" />
			<result property="doneYN" column="reprt_done_yn"/>
			<result property="placeNum" column="place_num"/>
			<result property="placeName" column="place_name"/>
							
	</resultMap>


	<select id="getMyAsk" resultMap="ask">
	select * from question where user_id=#{userId}
	</select>

<insert id="insertAsk">
INSERT INTO question (rsv_num, user_id, reprt_content)
    SELECT place_num, user_id, #{content}
    FROM place WHERE user_id=#{userId};

</insert>

</mapper>