<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HostManagementMapper">


<resultMap type="HostManagementVO" id="getAllplace">
		<result property="placeNum" column="place_num" />
		<result property="userId" column="user_id" />
		<result property="placeLocation" column="place_area" />
		<result property="placeAddress" column="place_addr" />
		<result property="placeTag" column="place_tag" />
		<result property="placeMainCategory" column="place_maincate" />
		<result property="placeCategory" column="place_cate"/>
		<result property="placeName" column="place_name" />
		<result property="placeIntro" column="place_intro" />
		<result property="placeArea" column="place_da" />	
		<result property="placeFloor" column="place_floor" />
		<result property="placeRule" column="place_rule" />
		<result property="placeSubInfo" column="place_surinfo" />
		<result property="placePrice" column="place_price" />
		<result property="placeMinTime" column="place_min_time" />
		<result property="placePersonNum" column="place_capa" />
		<result property="placeCarNum" column="place_capa_car"/>
		<result property="placeExtraPrice" column="place_extrachrg" />	
		<result property="placeThumbImg" column="place_thumb" />
		<result property="placeAllow" column="place_allow" />
		<result property="placeRegDate" column="place_reg_date" />										
	</resultMap>


	<select id="getAllHostPlace" resultMap="getAllplace">
     SELECT * FROM place INNER JOIN member ON place.user_id = member.user_id WHERE member.user_id=#{userId};
	</select>

	<delete id="deletePlace">

		delete place, place_detail, place_img
		FROM place
		JOIN place_detail USING (place_num)
		JOIN place_img USING (place_num)
		WHERE place_num = #{placeNum}
	</delete>
	
	<select id="getOneHostPlace" resultMap="getAllplace">
		SELECT * FROM place INNER JOIN member ON place.user_id = member.user_id WHERE member.user_id=#{userId} AND place.place_num=#{placeNum};
	</select>
	
	
	
	<update id="placeUpdate">
	
		update place set place_name=#{placeName}, place_da=#{placeArea}, place_intro=#{placeIntro}, place_floor=#{placeFloor}, place_rule=#{placeRule}, place_surinfo=#{placeSubInfo}, place_price=#{placePrice}, place_min_time=#{placeMinTime}, place_capa=#{placePersonNum}, place_capa_car=#{placeCarNum}
		where place_num=#{placeNum}
	</update>
	
	
	
</mapper>